// custom variables
$primary: #5265e1;
$secondary: #fa5959;
$info: rgb(149, 149, 149);
$nav-pills-link-active-color: #000;
$nav-pills-link-active-bg: none;

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// ajustem size mes petits que el mínim a Bootstrap
.fs-7 {
  font-size: 0.9rem;
}
.fs-8 {
  font-size: 0.8rem;
}
body {
  margin-top: 5em;
}

// letter-spacing per elements menu
.navbar .buttonLogin {
  letter-spacing: 0.12em;
}

// element blau amb responsive
.blue-from-right {
  width: 550px;
  height: 300px;
  background-color: #5265e1;
  position: absolute;
  right: 0;
  top: 18em;
  border-bottom-left-radius: 10em;
  z-index: -1;
}
.blue-from-left {
  width: 550px;
  height: 300px;
  background-color: #5265e1;
  position: absolute;
  left: 0;
  top: 67em;
  border-bottom-right-radius: 10em;
  z-index: -1;
}
@media (max-width: 1400px) {
  .blue-from-right {
    transform: scale(0.8);
    right: -3.5em;
    top: 15em;
  }
  .blue-from-left {
    transform: scale(0.8);
    left: -3.5em;
    top: 64em;
  }
}
@media (max-width: 1200px) {
  .blue-from-right {
    transform: scale(0.7);
    right: -5em;
    top: 12em;
  }
  .blue-from-left {
    transform: scale(0.7);
    left: -5em;
    top: 57em;
  }
}

// Responsive Mòvil/Tablet
@media (max-width: 991px) {
  .blue-from-right {
    transform: scale(1.3);
    right: 0;
    top: 16em;
  }
  .blue-from-left {
    transform: scale(1.3);
    left: -9em;
    top: 82em;
  }

  // Navbar disseny responsive mòvil/tablet
  .navbar {
    background-color: transparent !important;
  }
  #navbarSupportedContent {
    background-color: rgba(22, 33, 69, 0.94);
    text-align: center;
    padding: 0 1em 1em 1em;
    margin-top: 1em;
    ul li a {
      color: #fff !important;
      border-top: 1px solid rgba(255, 255, 255, 0.433);
      padding: 1.4em 0;
      font-size: 1.1em;
      letter-spacing: 0.18em;
    }
    ul li:nth-child(3) a {
      border-bottom: 1px solid rgba(255, 255, 255, 0.433) !important;
      margin-bottom: 1em;
    }
    ul li button {
      width: 95%;
      color: #fff;
      border: 2px solid #fff;
      background-color: transparent;
      padding: 0.8em 0;
      font-size: 1.1em;
      letter-spacing: 0.18em;
    }
  }

  // Menu Tab disseny responsive mòvil/tablet
  #myTab {
    border-top: 1px solid rgb(221, 221, 221);
  }
  #myTab li {
    width: 200px;
    margin: 0 auto;
    text-align: center;
  }
  .linea {
    border-top: 1px solid rgb(221, 221, 221);
  }
}
@media (max-width: 767px) {
  .blue-from-right {
    transform: scale(0.8);
    right: -3.5em;
    top: 13em;
  }
  .blue-from-left {
    transform: scale(0.8);
    left: -3.5em;
    top: 78em;
  }
}
@media (max-width: 576px) {
  .blue-from-right {
    transform: scale(0.6);
    right: -9em;
    top: 12.5em;
  }
  .blue-from-left {
    transform: scale(0.6);
    left: -9em;
    top: 75em;
  }
}

// tab active custom
.nav-link.active,
.show > .nav-link {
  border-bottom: 3px solid rgb(251, 91, 97);
}

// cards width (treiem styles de l'html per codi més net)
.card {
  max-width: 18rem;
  height: 360px;
  border-radius: 20px;
  .card-img-top {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
}
// posicionem Cards segons model amb nth-child de manera responsive
@media (min-width: 1200px) {
  .cards-container div:nth-child(2) {
    margin-top: 2em;
  }
  .cards-container div:nth-child(3) {
    margin-top: 4em;
  }
}

// reduim ample caixa acordio
.accordion {
  max-width: 700px;
}

// donem color vermell al icone svg del acordio desplegat
.accordion-button:not(.collapsed)::after {
  filter: invert(36%) sepia(49%) saturate(3329%) hue-rotate(339deg) brightness(82%) contrast(92%);
}

//hover botons
#buttonPrimary:hover {
  color: $primary !important;
  background-color: #fff;
}
#buttonSecondary:hover {
  color: $secondary !important;
  background-color: #fff;
}
#buttonInfo:hover {
  color: $info !important;
  background-color: #fff;
  border: 1px solid $info;
}
a:hover {
  color: $secondary !important;
}
.accordion-button:hover {
  color: $secondary !important;
}
#socialIcons:hover {
  filter: invert(50%) sepia(67%) saturate(4668%) hue-rotate(334deg) brightness(116%) contrast(96%);
}
// eliminem marc menu hamburguesa
.navbar-toggler {
  border: 0px;
}
